
/* Slider */
.tooltip {   
        position: absolute;           
        text-align: center;           
        width: 100px;                  
        height: 50px;                 
        padding: 2px;             
        font: 10px sans-serif;      
        color: #666666;  
        background: #ffffff;   
        border: 0px;            
        box-shadow: 1px -1px 5px #ccc;     
        pointer-events: none;         
}
rect {
    stroke: black;
    fill: #999595;
    stroke-width:0px;
}
text{
	font-size: 9px;
	fill: #f6921e;
}
#secondaryGraph rect{
	fill: #929396;
	stroke-width:0px;
}
.blue{
    stroke: white;
}
.red{
    stroke: white;
}
.pointer{
	cursor: pointer;
}
.green{
    fill:green;
    stroke: green;
}
.brush{
    fill-opacity: .125;
}

.slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    fill-opacity: .125;
    pointer-events: none;
}

/* Peg */
.peg{
	fill: orange;
	cursor: pointer;
}

#outer{
	max-width: 1200px;
	overflow: auto;
	padding: 1px;
	margin: 1px 2px 0px 2px;
}

#enlargedContainer {
	min-width: 100px;
	padding: 0px;
	margin: 0px 2px 0px 2px;
	display: inline-block;
	background: #f5f5f5;
	box-shadow: 0px 0px 3px #aaa;
	transition: 0.3s ease;
}
#enlarged{
	transition: 0.3s ease;
	padding: 2px;
	background: #FFFFFF;
}
.enlargedButton{
    position: absolute;
    color: #ddd;
    top: 2px;
    cursor: pointer;
	width: 6px;
	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;
	height: 6px;
	margin: 6px 5px;
}
.up{
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	transform: rotate(135deg);
}
.down{
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.legendText{
	font-size: 10px;
	stroke-fill:#666;
}
.left{
	float:left;
}
.right{
	float:right;
}
.absolute{
	position:absolute;
}
#sliderComplete{
	position: absolute;
	bottom: 0px;
	padding: 4px 4px 0px 4px;
}
#wikiBodySlider{
}
.resize > rect {
	visibility:visible !important;
	fill-opacity:.7;
	fill: gainsboro;
	stroke: #d7d7d7; 
}
.extent{
	stroke:white;
}
.notify{
	position: absolute;
	height: 200px;
	width: 200px;
	margin: auto;
	z-index: 10;
}
.notifyPlay{
	background: url('../images/play.png');
	background-position: center;
}
.notifyPause{
	background: url('../images/pause.png');
	background-position: center;
}
.notifyLoad{
	background-position: center;
}
#overlay{
	height: 100%;
	width: 100%;
	background: #ffffff;
	z-index: 20;
	position: absolute;
	font-size: 13px;
	/*font-size-adjust: 0.58;*/
}
#overlayHeader{
	width: 438px;
	background: transparent;
	margin: auto;
	position: absolute;
	top: 35%;
	left: 0;
	right: 0;
	font-size: 0px;
	
}

#overlayRand {
	background: #e67e22;
}

/* Tooltip */
.customTooltip{
    position: relative;
}
.customTooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(data-title);
    left: 15%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    font-size: 11px;
}
.customTooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
#outerContainer{
	margin: 10px 0px 0px 0px;
	position: relative;
}
#outerOlderEdit{
	right: 5px;
	top: -10px;
}
#outerEndDate{
	left: 5px;
}
#outerStartDate{
	right: 5px;
}
.outerInfo{
	font-size: 9px;
	position: absolute;
}
.leg{
	position: absolute;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	height: 28px;
	border-color: #ddd;
}
#outerStartDateLeg{
	right: 0px;
}
#olderEditsInfo{
	position: absolute;
	top: -15px;
	right: 5px;
	background: gray;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	padding:2px;
	cursor: pointer;
	font-size: 11px;
}
#olderEditsInfo > span{
	margin: 3px;
}
#infoBox{
	color:gray;
    font-size: 11px;
    float: left;
}
.minor{
	border:0px !important;
}
#infoBox > div{
	padding: 5px;
	height: 16px;
	border-style: solid;
	border-width: 0px 1px 0px 0px ;
	border-color: #DDDDDD; 
}
#controlsInfoContainer{
	height: 26px;
	border-style: solid;
	border-width: 0px 0px 1px 0px ;
	border-color: #DDDDDD; 
}