
/* Slider */
.tooltip {   
        position: absolute;           
        text-align: center;           
        width: 100px;                  
        height: 50px;                 
        padding: 2px;             
        font: 10px sans-serif;        
        background: #ddd;   
        border: 0px;      
        border-radius: 5px;           
        pointer-events: none;         
}
rect {
    stroke: black;
    fill: steelblue;
}
.blue{
    /*
    fill: steelblue;
    stroke: steelblue;
    */
    stroke: white;
}
.red{
    /*
    fill: red;
    stroke: red;
    */
    stroke: white;
}
.green{
    fill:green;
    stroke: green;
}
.brush{
    fill-opacity: .125;
}

.slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    fill-opacity: .125;
    pointer-events: none;
}
#outer{
    /* width: 97%; */
	max-width:1200px;
    overflow: auto;
    height: 120px;
    border-style: solid;
    border-width: 3px;
    border-color: #ddd;
    padding: 3px;
    border-radius: 5px;
    margin: 3px;
    position: absolute;
    top: 175px;
}
#enlarged{
    border-color: #ddd;
    border-width: 3px;
    border-radius: 5px;
    width: 450px;
    height: 160px;
    padding: 3px;
    border-style: solid;
    margin: 2px;
    position: absolute;
/*overflow: hidden;*/

}
.enlargedButton{
    position: absolute;
    color: #ddd;
}
.legendText{
	font-size: 10px;
	font-color:#333;
}
.left{
	float:left;
}
.right{
	float:right;
}
.absolute{
	position:absolute;
}
#sliderComplete{
	position: absolute;
	bottom: 225px;
}
#wikiBodySlider{
	height:80%;
}
